.header {
    text-align: center;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid rgb(23, 20, 185);
  }
  
.pageBackground {
  background-color: rgb(112, 112, 138);
}

h3 {
    font-weight: bold;
}

li {
  list-style-type: none;
}

.bg-orange {
  background-color: #fd7e14 ;
}

.bg-violet {
  background-color: #6f42c1;
}

button {
  width: 100%;
  background-color: rgb(125, 125, 145);
  border-radius: 5px;
  margin-top: 10px;
}

